server:
  port: 8888

spring:
  application:
    name: "cloud-bus-server"
  cloud:
    config:
      server:
        git:
          uri: "git@github.com:repository.git"
          clone-on-start: true
          passphrase: Spring
    bus:
      enabled: true
    refresh:
      enabled: true
  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest

management:
  endpoints:
    web:
      exposure:
        include:
          - 'bus-refresh'
          - 'health'